@import '../../../../general.scss';
.fil-btn{
    border: none;
    background: transparent;
    transition: all .3s ease-in;
    color: rgba( #000000, .3);
    &:hover{
        color: #000000;
    }
}

.fl-btn-capsule{
    border-radius: 50px;
    padding: 3px 10px;
    color: #fff;
    background-color: $base-green-color;
    &:hover{
        background-color: lighten($base-green-color,20%);
        color: #fff;
    }
}

.btn-dt-picker{
    border: none;
    background: transparent;
}
.input-dt-picker{
    width: calc(100% - 30px);
}