<div class="addc-input-capsule-search-container" *ngIf="inputType != 'date-picker'">
  <input  (keyup)="applyFilter($event.target.value)" placeholder="Search for {{claims_type}}" class="search" >
</div>
<div>
  <div *ngIf="inputType == 'checkbox'">
    <mat-checkbox class="d-block addc-checkbox checkbox-base-green" color="primary" *ngFor="let data of dataCheck" >{{data}}</mat-checkbox>
  </div>
  <div *ngIf="inputType == 'date-picker'">
    <div class="row">
      <div class="col-6 p-relative">
        <mat-form-field class="input-dt-picker">
          <input matInput [matDatepicker]="startDate" placeholder="Start date" (dateChange)="datepickerAct(2)" > 
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button class="btn-dt-picker" (click)="startDate.open(); datepickerAct(1);">
          <i class="icon-calendar-outlilne"></i>
        </button>
      </div>
      <div class="col-6 p-relative">
        <mat-form-field class="input-dt-picker">
          <input matInput [matDatepicker]="endDate" placeholder="End date" (dateChange)="datepickerAct(2)"> 
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button class="btn-dt-picker" (click)="endDate.open(); datepickerAct(1);">
          <i class="icon-calendar-outlilne"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-space-between">
  <div>
    <button class="fil-btn">Clear All</button>
  </div>
  <div>
    <button class="fil-btn">Cancel</button>
    <button class="fil-btn fl-btn-capsule">Apply</button>
  </div>
</div>