@import '../../../../general.scss';

.addc-bg-white{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    padding: 16px 24px ;
    margin-bottom: 50px;

    .addc-ttl{
        font-family: $font1;
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
    }
    .arrngmnt-txt{
        font-family: Roboto;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
    }
    .arngmnt{
        font-size:14px;
        margin-right:24px;  
    }
}
.mx-hg-1{
    max-height: 62vh;
    height: 100%;
}
.addc-bottom{
    // position: absolute;
    bottom: 0;
    left: 0;
    right: 0;  
    padding-bottom: 20px;  
}
.add-stp-item{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 80px;
}
.adc-row{
    margin-left: -24px;
    margin-right: -24px;
}
.tbl-1{
    height: 340px;
    overflow: auto;

    input{
        border-radius: 5px;
        border: none;
        padding: 3px 7px;
    }
}

.step-3{
    .addc-bg-white{
        padding-bottom: 0;
    }
    .sub-content{
        .row{
            margin-bottom: 16px;
        }
    }

    .inst-day{width: 60px;}
    .inst-d-m-y{width: 94px;}
    .tmwd{width:88px}
    .ampm{width: 74px}
    .fork1{width:143px}
    .fork2{width:92px}
    .fork3{width:52px}
    .addtn-nm{width: 68px}    
    .addtn-prctyp{width: 68px}
    .addtn-dmy{width: 92px}
    .frmt{width:88px}
    .to{
        color: rgba(0,0,0,.5);
        font-family:$font1;
        font-size: 14px;
    }
    .txt{
        font-family:$font1;
        font-size: 14px;
    }
    .addc-template{
        display: flex;
        align-items: stretch;
        margin-left: -24px;
        margin-right: -24px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        
        &>*:first-child{
            border-right: 1px solid rgba(0, 0, 0, 0.1);
        }
        .addc-template-sidebar{
            width: 160px;
            button,a{
                display: block;
                border: none;
                outline: none;
                background: transparent;
                font-family: $font1;
                font-size: 14px;
                color: #6e6d6e;
                width: 100%;
                text-align: center;
                line-height: 52px;

                &.active{
                    background-color: rgba(92, 184, 178, 0.1);
                    font-size: 14px;
                    font-weight: bold;
                    color: $base-green-color;
                }
            }
        }
        .addc-template-content{
            width: calc(100% - 161px);
            padding: 20px 16px;

            .template-title,
            .template-title input{
                font-family: $font1;
                font-size: 24px;
                color: $base-green-color;
                margin-bottom: 23px;
                margin-right: 20px;

                button{
                    border: none;
                    background-color: transparent;
                    svg {
                        margin-top: -5px;
                        g path:last-child{
                            fill: $base-green-color;
                        }
                    }
                    &.delete{
                        svg g path:last-child{
                            fill: lighten(red, 30%) !important;
                        }
                    }
                }
            }
            .template-subtitle{
                background-color:  $base-green-color;
                font-family: $font1;
                font-size: 16px;
                color: #fff;
                padding: 4px 16px;
            }
            .sub-content{
                padding:  16px;
                .part-title{
                    font-family: $font1;
                    font-size: 14px;
                    line-height: 1.43;
                    color: rgba(0, 0, 0, 0.5);
                }
                .wrk-tbl{
                    &>div>div:first-child{
                        background: lighten($base-green-color, 40%);
                        height: 40px;
                        line-height: 40px;
                        font-family: $font1;
                        font-size: 12px;
                        font-weight: bold;
                        text-align: center;
                    }

                    .left-title{
                        flex: none;
                        &>*:not(:first-child){
                            padding: 18px 24px;
                            font-family: $font1;
                            font-size: 14px;
                            border-bottom: 1px solid lighten(#6e6d6e,30%);
                        }
                    }
                    .data-day{
                        flex: 1;
                        overflow: hidden;
                        &>*:not(:first-child){
                            .mat-radio-button{
                                padding: 18px 10px 12px;
                            }
                        }
                        .dy-radio-grp{
                            width: 40px;
                            margin: auto;
                            display: block;

                            .mat-radio-label{
                                margin: 0;
                            }

                            .arngmnt {
                                position: relative;
                                &:after{
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: -40px;
                                    right: -40px;
                                    border-bottom: 1px solid lighten(#6e6d6e,30%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .ssd{
        .col-lg-2{
            flex: 0 0 20.666667%;
            max-width: 22.666667%;
        }
        .col-lg-10{
            flex: 0 0 79.333333%;
            max-width: 83.333333%;
        }
    }
    .ttl{
        background: #fff;
        border: none;
        border-bottom: 1px solid $base-green-color;
        padding: 5px 8px;
        color: #000000 !important;
        min-width: 200px;
        max-width: 700px;
        &[disabled]{
            border: 1px solid #fff;
            box-shadow: none;
            color: $base-green-color !important;
        }
    }
    .inptxx{
        border: 1px solid lighten(#000, 70%);
        border-radius: 4px;
        line-height: 26px;
        margin-top: 0px;
        padding: 3px 5px;

        &.error{
            border-color: $error;
        }
    }
    .btn-delete-array{
        border:none;
        background-color: transparent;
        margin-left: 20px;
        margin-top: 5px;
        
        svg g path:last-child{
            fill:$error;
        }
    }
}


.mh1{
    min-height: 390px;
}

.mr-24{
    margin-right: 24px;
}

.action{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    
    button{
        display: none;
        border: none;
        background-color: transparent;
        margin-left: 8px;
    }
}
.highlight{
    background-color: rgba($base-green-color, .3);
    .action button{
        display: block;
    }
}

.popup{
    .popup-box{
        margin-top: 24px;
        width: 450px;
        max-width: calc(100% - 30px);
        padding: 32px;
        border-radius: 8px;
        background-color: #fff;
    
        .ttl-lgn{
            font-size: 24px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            font-family: $font1;
            color:$base-green-color;
            margin-bottom: 24px;
        }
    
        .lgn-frm{
            input{
                font-family: $font1;
            }
        }
    
       button{
            padding: 3px 5px;
            color: #fff;
            min-width: 100px;
            line-height: 26px;
       }
    }
}

.w-200px{
    width :200px !important;
}
