<mat-horizontal-stepper [@.disabled] = "true" class="addc-stepper" [linear]="isLinear"  #stepper>
  <ng-template matStepperIcon="done" let-index="index">
    {{(index+1) }}
  </ng-template>
  <ng-template matStepperIcon="edit" let-index="index">
    {{(index+1) }}
  </ng-template>


    <!-- =================================================
                           step 1
        =================================================== -->

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="add-stp-item">
        <ng-template matStepLabel >Enter Company Details</ng-template>
        <div class="mh1">
          <div class="addc-bg-white">
            <h3 class="addc-ttl">Company Profile</h3>
  
            <div class="row justify-content-space-between">
              <div class="col-md-5 col-sm-6">
                <mat-form-field class="w-100 addc-material-input required-red">
                  <input class="d-block " matInput placeholder="Client UEN" formControlName="clientUEN" required>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-sm-6">
                <mat-form-field class="w-100 addc-material-input">
                  <input class="d-block" matInput placeholder="Office Address Line 1"  formControlName="officeAddress1">
                </mat-form-field>
              </div>
              <div class="col-md-5 col-sm-6">
                <mat-form-field class="w-100 addc-material-input required-red">
                  <input class="d-block " matInput placeholder="Client Name" formControlName="clientName" required>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-sm-6">
                <mat-form-field class="w-100 addc-material-input">
                  <input class="d-block" matInput placeholder="Office Address Line 2"   formControlName="officeAddress2"  >
                </mat-form-field>
              </div>
              <div class="col-md-5 col-sm-6">
                  <p class="arrngmnt-txt">Arrangement <i class="text-error" style="font-style: normal">*</i> </p>
                  <!-- <mat-radio-group labelPosition="after" formControlName="arrangement" required>
                    <mat-radio-button color="primary" value="msa"  class="arngmnt addc-radio addc-radio-round">MSA</mat-radio-button>
                    <mat-radio-button color="primary" value="isa"  class="arngmnt addc-radio addc-radio-round">ISA</mat-radio-button>
                  </mat-radio-group> -->
                  <section >
                    <mat-checkbox class="mr-24 addc-checkbox" color="primary" value="msa"  formControlName="arrangementMsa">MSA</mat-checkbox>
                    <mat-checkbox class="addc-checkbox" color="primary" value="isa" formControlName="arrangementIsa">ISA</mat-checkbox>
                  </section>
              </div>
            </div>
          </div>
        </div>

        <div class="addc-bottom d-flex justify-content-space-between">
          <div>
            <a class="addc-btn btn-secondary" [routerLink]="['/admin/task/client']">Cancel</a>
          </div>
          <div>
            <button class="addc-btn btn-light mr-3" *ngIf="!isDone" (click)="saveDraft()">Save as draft</button>
            <button class="addc-btn btn-primary"  (click)="complete()" >Next</button>
          </div>
        </div>
      </form>
    </mat-step>
    <!-- =================================================
                          end of step 1
        =================================================== -->



    <!-- =================================================
                           step 2
        =================================================== -->
    <mat-step >
      <ng-template matStepLabel>Set Users</ng-template>
      <div class="step-2">
        <div class="">
          <div class="addc-bg-white">
            <div class="text-right mb-4">
              <button class="addc-btn btn-light" (click)="newUser()">
                <i class="icon-plus"></i>
                Add New Users
              </button>
            </div>
            <div class="addc-table-container adc-row tbl-1">
                <table mat-table [dataSource]="dataSource" matSort class="addc-table  w-100">
        
                    <!-- Position Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                      <td mat-cell *matCellDef="let element"> 
                        <span  *ngIf="selectedRowIndex != element.ids || !tblEdit">{{element.clientManagerName}}</span> 
                        <input type="text" *ngIf="(selectedRowIndex == element.ids && tblEdit) || (isNewUserCreate && selectedRowIndex == element.ids )" 
                        [(ngModel)]="clnt_nm" 
                        (keydown)="onKeydown($event,element)">
                      </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="role">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                      <td mat-cell *matCellDef="let element">
                         <span *ngIf="selectedRowIndex != element.ids || !tblEdit">{{element.jobTitle}}</span>
                        <input type="text" *ngIf="(selectedRowIndex == element.ids && tblEdit) || (isNewUserCreate && selectedRowIndex == element.ids )" 
                        [(ngModel)]="clnt_rl" 
                        (keydown)="onKeydown($event,element)">
                      </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="contact_no">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact No. </th>
                      <td mat-cell *matCellDef="let element" >
                        <span *ngIf="selectedRowIndex != element.ids || !tblEdit">{{element.phoneNumber}}</span>
                        <input type="text" *ngIf="(selectedRowIndex == element.ids && tblEdit) || (isNewUserCreate && selectedRowIndex == element.ids )" 
                        [(ngModel)]="clnt_c_no" 
                        (keydown)="onKeydown($event,element)"
                        pattern="[0-9]">
                      </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                      <td mat-cell *matCellDef="let element"> 
                        <span *ngIf="selectedRowIndex != element.ids || !tblEdit">{{element.email}}</span>
                        <input type="text" *ngIf="(selectedRowIndex == element.ids && tblEdit) || (isNewUserCreate && selectedRowIndex == element.ids )"
                         [(ngModel)]="clnt_email"
                         (keydown)="onKeydown($event,element)">
                      </td>
                    </ng-container>

                      <!-- Symbol Column -->
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef >  </th>
                      <td mat-cell *matCellDef="let element"> 
                        <div class="action">
                            <button (click)="editRow(element)" *ngIf="selectedRowIndex != element.ids || !tblEdit">
                              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M-3-3h24v24H-3z"/>
                                    <path fill="#85BAE7" d="M0 14.25V18h3.75L14.81 6.94l-3.75-3.75L0 14.25zM17.71 4.04a.996.996 0 0 0 0-1.41L15.37.29a.996.996 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                                </g>
                              </svg>
                            </button>
                            <button (click)="doneRow(element)" *ngIf="(selectedRowIndex == element.ids && tblEdit) || (isNewUserCreate && selectedRowIndex == element.ids )">
                              <i class="fa fa-check text-success"></i>
                            </button>
                            <button (click)="deleteRow(element)" *ngIf="selectedRowIndex != element.ids || !tblEdit">
                              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M-5-3h24v24H-5z"/>
                                    <path fill="#D78189" d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z"/>
                                </g>
                              </svg>
                            </button>
                        </div>  
                      </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; let idx = index;"
                    [ngClass]="{'highlight': selectedRowIndex == row.ids }"
                    (click)="chck(row)"></tr>
                  </table>
            </div>
          </div>
        </div>
        <div class="addc-bottom d-flex justify-content-space-between">
          <div>
            <a class="addc-btn btn-secondary"  [routerLink]="['/admin/task/client']">Cancel</a>
          </div>
          <div>
            <button class="addc-btn btn-light mr-3" *ngIf="!isDone" (click)="saveDraft()">Save as draft</button>
            <button class="addc-btn btn-primary"  (click)="complete()" >Next</button>
          </div>
        </div>
      </div>
    </mat-step>
    <!-- end of step 2 -->

    <!--==========================================================
                             step 3 
      ==========================================================-->
    <mat-step>
      <ng-template matStepLabel>Configure Master Templates</ng-template>
      <div class="step-3">
        <div class="">
          <div class="addc-bg-white">
            <div class="mb-4">
              <button class="addc-btn btn-light" (click)="addTemplate()">
                <i class="icon-plus"></i>
                Add New Template
              </button>
            </div>
            <div class="addc-template" >
              <div class="addc-template-sidebar d-inline-block">
                <div *ngFor="let template of templates; let idx = index;" >
                  <button [ngClass]="{'active': idx+1 == activeTemplate}" (click)="templateChange(idx)" class="ellapsis">
                    <span *ngIf="template.templateName != undefined">
                      {{template.templateName}}
                    </span>
                    <span *ngIf="template.templateName == undefined">template #{{idx+1}}</span>
                  </button>
                </div>
              </div>
              <div class="addc-template-content d-inline-block">
                <div class="content" >
                  <h3 class="template-title" *ngIf="activeTemplate > 0">
                    <span (click)="this.ttlDisabled = false">
                      <input type="text" [(ngModel)]="templates[activeTemplate-1].templateName"  [disabled]="ttlDisabled" class="ttl mb-0"
                       [ngStyle]="{'width': ((templates[activeTemplate-1].templateName.length*13))+'px'}">
                    </span>
                    <button  (click)="this.ttlDisabled = !this.ttlDisabled" >
                      <svg _ngcontent-ukb-c5="" height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-ukb-c5="" fill="none" fill-rule="evenodd"><path _ngcontent-ukb-c5="" d="M-3-3h24v24H-3z"></path><path _ngcontent-ukb-c5="" d="M0 14.25V18h3.75L14.81 6.94l-3.75-3.75L0 14.25zM17.71 4.04a.996.996 0 0 0 0-1.41L15.37.29a.996.996 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" fill="#85BAE7"></path></g></svg>
                    </button>
                    <button class="delete" (click)="this.deleteTemplatePopup = true;">
                      <svg _ngcontent-vjj-c14="" height="18" viewBox="0 0 14 18" width="14" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-vjj-c14="" fill="none" fill-rule="evenodd"><path _ngcontent-vjj-c14="" d="M-5-3h24v24H-5z"></path><path _ngcontent-vjj-c14="" d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" ></path></g></svg>
                    </button>
                  </h3>
                  <div class="content-1">
                    <h4 class="template-subtitle" *ngIf="activeTemplate > 0" >Work Details</h4>
                    <div class="sub-content">
                      <div class="row" *ngIf="activeTemplate > 0">
                        <div class="col-lg-2 col-sm-4 part-title">Probation Period <i class="text-error">*</i>  </div>
                        <div class="col-lg-10 col-sm-8 part-content">
                          <div class="d-flex">
                            <div class="mr-3 inst-day">
                              <mat-form-field class="addc-select-border-container w-100">
                                <mat-select [(ngModel)]="templates[activeTemplate-1].probationPeriod.value">
                                  <mat-option *ngFor="let day of days" [value]="day" >{{day}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div  class="mr-3 inst-d-m-y">
                                <mat-form-field class="addc-select-border-container w-100">
                                  <mat-select [(ngModel)]="templates[activeTemplate-1].probationPeriod.unit">
                                    <mat-option *ngFor="let tm of dmy" [value]="tm.value">{{tm.name}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="activeTemplate > 0">
                        <div class="col-lg-2 col-sm-4 part-title">Working Days Per Week <i class="text-error">*</i></div>
                        <div class="col-lg-10 col-sm-8 part-content">
                          <div class="d-flex wrk-tbl">
                            <div class="left-title">
                              <div></div>
                              <div>Full Day</div>
                              <div>Half Day (AM)</div>
                              <div>Half Day (PM)</div>
                            </div>
                            <div class="data-day">
                              <div>Mon</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group [(ngModel)]="mon" (change)="setWorkingDaysPerWeek($event.value,0)">
                                    <mat-radio-button color="primary" value="mon_full" class="arngmnt addc-radio" ></mat-radio-button>
                                    <mat-radio-button color="primary" value="mon_am" class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="mon_pm" class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Tue</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group [(ngModel)]="tue" (change)="setWorkingDaysPerWeek($event.value,1)">
                                    <mat-radio-button color="primary" value="tue_full"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="tue_am"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="tue_pm"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Wed</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group  [(ngModel)]="wed" (change)="setWorkingDaysPerWeek($event.value,2)">
                                    <mat-radio-button color="primary" value="wed_full"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="wed_am"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="wed_pm"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Thu</div>
                              <div class="dy-radio-grp">
                                <mat-radio-group  [(ngModel)]="thu" (change)="setWorkingDaysPerWeek($event.value,3)">
                                    <mat-radio-button color="primary" value="thu_full"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="thu_am"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="thu_pm"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Fri</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group  [(ngModel)]="fri" (change)="setWorkingDaysPerWeek($event.value,4)">
                                    <mat-radio-button color="primary" value="fri_full"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="fri_am"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="fri_pm"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Sat</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group  [(ngModel)]="sat" (change)="setWorkingDaysPerWeek($event.value,5)">
                                    <mat-radio-button color="primary" value="sat_full"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="sat_am"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="sat_pm"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Sun</div>
                              <div class="dy-radio-grp">
                                <mat-radio-group  [(ngModel)]="sun" (change)="setWorkingDaysPerWeek($event.value,6)">
                                  <mat-radio-button color="primary" value="sun_full"  class="arngmnt addc-radio"></mat-radio-button>
                                  <mat-radio-button color="primary" value="sun_am"  class="arngmnt addc-radio"></mat-radio-button>
                                  <mat-radio-button color="primary" value="sun_pm"  class="arngmnt addc-radio"></mat-radio-button>
                                </mat-radio-group> 
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="activeTemplate > 0">
                        <div class="col-lg-2 col-sm-4 part-title">Working Hours Per Day <i class="text-error">*</i></div>
                        <div class="col-lg-10 col-sm-8 part-content">
                          <div class="d-flex ">
                            <div class="d-flex">
                              <div class="tmwd mr-8">
                                <mat-form-field class="addc-select-border-container w-100">
                                  <mat-select  [(ngModel)]="templates[activeTemplate-1].changeTimeSetting.start.time" (selectionChange)="startTimeCnf($event.value)">
                                    <mat-option *ngFor="let time of timepicker" [value]="time.value" >{{time.name}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="ampm mr-24 ">
                                <mat-form-field class="addc-select-border-container text-uppercase w-100">
                                  <mat-select [(ngModel)]="templates[activeTemplate-1].changeTimeSetting.start.ampm" (selectionChange)="startTimeCnf($event.value)">
                                    <mat-option class="text-uppercase" *ngFor="let typ of ampm" [value]="typ">{{typ}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="mr-24 to mt-2">to</div>
                            <div class="d-flex ">
                              <div class="tmwd mr-8">
                                  <mat-form-field class="addc-select-border-container w-100">
                                    <mat-select [(ngModel)]="templates[activeTemplate-1].changeTimeSetting.end.time" (selectionChange)="endTimeCnf($event.value)">
                                      <mat-option *ngFor="let time of timepicker" [value]="time.value" >{{time.name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="ampm  ">
                                <mat-form-field class="addc-select-border-container text-uppercase w-100">
                                  <mat-select [(ngModel)]="templates[activeTemplate-1].changeTimeSetting.end.ampm" (selectionChange)="endTimeCnf($event.value)">
                                    <mat-option class="text-uppercase" *ngFor="let typ of ampm" [value]="typ">{{typ}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="activeTemplate > 0">
                          <div class="col-lg-2 col-sm-4 part-title">Rest Day(s)</div>
                          <div class="col-lg-10 col-sm-8 part-content">
                              <section class="example-section" >
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" [(ngModel)]="templates[activeTemplate-1].restDays[0]" (change)="this.templates[activeTemplate-1].restDays[0] = $event.checked ? 'mon' : ''">Mon</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" [(ngModel)]="templates[activeTemplate-1].restDays[1]" (change)="this.templates[activeTemplate-1].restDays[1] = $event.checked ? 'tue' : ''">Tue</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" [(ngModel)]="templates[activeTemplate-1].restDays[2]" (change)="this.templates[activeTemplate-1].restDays[2] = $event.checked ? 'wed' : ''">Wed</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" [(ngModel)]="templates[activeTemplate-1].restDays[3]" (change)="this.templates[activeTemplate-1].restDays[3] = $event.checked ? 'thu' : ''">Thu</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" [(ngModel)]="templates[activeTemplate-1].restDays[4]" (change)="this.templates[activeTemplate-1].restDays[4] = $event.checked ? 'fri' : ''">Fri</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" [(ngModel)]="templates[activeTemplate-1].restDays[5]" (change)="this.templates[activeTemplate-1].restDays[5] = $event.checked ? 'sat' : ''">Sat</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" [(ngModel)]="templates[activeTemplate-1].restDays[6]" (change)="this.templates[activeTemplate-1].restDays[6] = $event.checked ? 'sun' : ''">Sun</mat-checkbox>
                              </section>
                          </div>
                      </div>

                    </div>
                  </div>
                  <div class="content-2" *ngIf="activeTemplate > 0">
                    <h4 class="template-subtitle">Computation</h4>
                    <div class="sub-content">
                      <div class="row ssd">
                        <div class="col-lg-2 col-sm-4 part-title">Break Time <i class="text-error">*</i></div>
                        <div class="col-lg-10 col-sm-8 part-content">
                          <mat-radio-group [(ngModel)]="templates[activeTemplate-1].breakTimeFake">
                            <mat-radio-button color="primary" value="60" class="arngmnt addc-radio-circle">60 mins</mat-radio-button>
                            <mat-radio-button color="primary" value="45" class="arngmnt addc-radio-circle">45 mins</mat-radio-button>
                            <mat-radio-button color="primary" value="other" class="arngmnt addc-radio-circle">Other</mat-radio-button>
                          </mat-radio-group>
                          <span *ngIf="templates[activeTemplate-1].breakTimeFake == 'other'" >
                            <input type="number" 
                              placeholder="in minutes" 
                              class="inptxx"
                              style="width:110px"
                              [(ngModel)]="templates[activeTemplate-1].breakTimeOther" >
                          </span>
                        </div>
                      </div>
                      <div class="row ssd">
                        <div class="col-lg-2 col-sm-4 part-title">Overtime Pay Entitlement</div>
                        <div class="col-lg-10 col-sm-8 part-content">
                          <mat-radio-group [(ngModel)]="templates[activeTemplate-1].overtimePayEntitlement">
                            <mat-radio-button color="primary" [value]="true"  class="arngmnt addc-radio-circle">Yes</mat-radio-button>
                            <mat-radio-button color="primary" [value]="false"  class="arngmnt addc-radio-circle">No</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                      <div class="row ssd" *ngIf="templates[activeTemplate-1].overtimePayEntitlement == true">
                        <div class="col-lg-2 col-sm-4 part-title">Overtime Computation <br>(check those applies)</div>
                        <div class="col-lg-10 col-sm-8 part-content">
                          <div >
                            <div>
                                <mat-checkbox class="mr-4 addc-checkbox font-weight-bold" color="primary" [(ngModel)]="templates[activeTemplate-1].variableOt1_0.active">OT 1.0: </mat-checkbox>
                            </div>
                            <div class="d-flex justify-content-space-between" *ngFor="let item of templates[activeTemplate-1].variableOt1_0.settings; let idx = index;">
                              <div class="left d-flex">
                                <span class="txt mr-8 mt-2">  For work done on </span>
                                <div class="fork1 mr-8">
                                  <mat-form-field class="addc-select-border-container w-100">
                                    <mat-select [(ngModel)]="templates[activeTemplate-1].variableOt1_0.settings[idx].for">
                                      <mat-option *ngFor="let dytp of dayType" [value]="dytp.value">{{dytp.name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="fork2 mr-8">
                                  <mat-form-field class="addc-select-border-container w-100">
                                    <mat-select [(ngModel)]="templates[activeTemplate-1].variableOt1_0.settings[idx].equality">
                                      <mat-option value="above">Above</mat-option>
                                      <mat-option value="under">Under</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="fork3 mr-8 ">
                                  <mat-form-field class="addc-select-border-container w-100">
                                    <mat-select [(ngModel)]="templates[activeTemplate-1].variableOt1_0.settings[idx].numHours">
                                      <mat-option *ngFor="let time of hour" [value]="time">{{time}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <span class=" txt mt-2">hours</span>
                                <div *ngIf="idx > 0">
                                  <button class="btn-delete-array" (click)="templates[activeTemplate-1].variableOt1_0.settings = _generalClient.deleteArray(templates[activeTemplate-1].variableOt1_0.settings,idx)">
                                    <svg _ngcontent-vjj-c14="" height="18" viewBox="0 0 14 18" width="14" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-vjj-c14="" fill="none" fill-rule="evenodd"><path _ngcontent-vjj-c14="" d="M-5-3h24v24H-5z"></path><path _ngcontent-vjj-c14="" d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" ></path></g></svg>
                                  </button>
                                </div>
                              </div>
                              <div class="right">
                                <div class="mt-2" *ngIf="idx == templates[activeTemplate-1].variableOt1_0.settings.length - 1">
                                  <button class="addc-btn-link" (click)="this.templates[activeTemplate-1].variableOt1_0.settings = _generalClient.addmore(this.templates[activeTemplate-1].variableOt1_0.settings)">Add More</button>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div >
                            <div>
                                <mat-checkbox class="mr-4 addc-checkbox font-weight-bold" color="primary" [(ngModel)]="templates[activeTemplate-1].variableOt1_5.active">OT 1.5:</mat-checkbox>
                            </div>
                            <div class="d-flex justify-content-space-between" *ngFor="let item of templates[activeTemplate-1].variableOt1_5.settings; let idx = index;">
                              <div class="left d-flex">
                                <span class="txt mr-8 mt-2">  For work done on </span>
                                <div class="fork1 mr-8">
                                  <mat-form-field class="addc-select-border-container w-100">
                                    <mat-select [(ngModel)]="templates[activeTemplate-1].variableOt1_5.settings[idx].for">
                                      <mat-option *ngFor="let dytp of dayType" [value]="dytp.value">{{dytp.name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="fork2 mr-8">
                                  <mat-form-field class="addc-select-border-container w-100">
                                    <mat-select [(ngModel)]="templates[activeTemplate-1].variableOt1_5.settings[idx].equality">
                                      <mat-option value="above">Above</mat-option>
                                      <mat-option value="under">Under</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="fork3 mr-8 ">
                                  <mat-form-field class="addc-select-border-container w-100">
                                    <mat-select [(ngModel)]="templates[activeTemplate-1].variableOt1_5.settings[idx].numHours">
                                      <mat-option *ngFor="let time of hour" [value]="time">{{time}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <span class=" txt mt-2">hours</span>
                                <div *ngIf="idx > 0">
                                  <button class="btn-delete-array" (click)="templates[activeTemplate-1].variableOt1_5.settings = _generalClient.deleteArray(templates[activeTemplate-1].variableOt1_5.settings,idx)">
                                    <svg _ngcontent-vjj-c14="" height="18" viewBox="0 0 14 18" width="14" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-vjj-c14="" fill="none" fill-rule="evenodd"><path _ngcontent-vjj-c14="" d="M-5-3h24v24H-5z"></path><path _ngcontent-vjj-c14="" d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" ></path></g></svg>
                                  </button>
                                </div>
                              </div>
                              <div class="right">
                                <div class="mt-2" *ngIf="idx == templates[activeTemplate-1].variableOt1_5.settings.length - 1">
                                  <button class="addc-btn-link" (click)="this.templates[activeTemplate-1].variableOt1_5.settings = _generalClient.addmore(this.templates[activeTemplate-1].variableOt1_5.settings)">Add More</button>
                                </div>
                              </div>
                            </div>
                          </div>

                            <div >
                              <div>
                                  <mat-checkbox class="mr-4 addc-checkbox font-weight-bold" color="primary" [(ngModel)]="templates[activeTemplate-1].variableOt2_0.active">OT 2.0:</mat-checkbox>
                              </div>
                              <div class="d-flex justify-content-space-between" *ngFor="let item of templates[activeTemplate-1].variableOt2_0.settings; let idx = index;">
                                <div class="left d-flex">
                                  <span class="txt mr-8 mt-2">  For work done on </span>
                                  <div class="fork1 mr-8">
                                    <mat-form-field class="addc-select-border-container w-100">
                                      <mat-select [(ngModel)]="templates[activeTemplate-1].variableOt2_0.settings[idx].for">
                                        <mat-option *ngFor="let dytp of dayType" [value]="dytp.value">{{dytp.name}}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="fork2 mr-8">
                                    <mat-form-field class="addc-select-border-container w-100">
                                      <mat-select [(ngModel)]="templates[activeTemplate-1].variableOt2_0.settings[idx].equality">
                                        <mat-option value="above">Above</mat-option>
                                        <mat-option value="under">Under</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div class="fork3 mr-8 ">
                                    <mat-form-field class="addc-select-border-container w-100">
                                      <mat-select [(ngModel)]="templates[activeTemplate-1].variableOt2_0.settings[idx].numHours">
                                        <mat-option *ngFor="let time of hour" [value]="time">{{time}}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <span class=" txt mt-2">hours</span>
                                  <div *ngIf="idx > 0">
                                    <button class="btn-delete-array" (click)="templates[activeTemplate-1].variableOt2_0.settings = _generalClient.deleteArray(templates[activeTemplate-1].variableOt2_0.settings,idx)">
                                      <svg _ngcontent-vjj-c14="" height="18" viewBox="0 0 14 18" width="14" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-vjj-c14="" fill="none" fill-rule="evenodd"><path _ngcontent-vjj-c14="" d="M-5-3h24v24H-5z"></path><path _ngcontent-vjj-c14="" d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" ></path></g></svg>
                                    </button>
                                  </div>
                                </div>
                                <div class="right">
                                  <div class="mt-2" *ngIf="idx == this.templates[activeTemplate-1].variableOt2_0.settings.length - 1">
                                    <button class="addc-btn-link" (click)="this.templates[activeTemplate-1].variableOt2_0.settings = _generalClient.addmore(this.templates[activeTemplate-1].variableOt2_0.settings)">Add More</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <div>
                            <div>
                                <mat-checkbox class="mr-4 addc-checkbox font-weight-bold" color="primary" 
                                *ngIf="templates[activeTemplate-1].fixedOt.length > 0" 
                                [(ngModel)]="templates[activeTemplate-1].fixedOt[0].active">FIXED OT </mat-checkbox>
                            </div>
                            <div class="d-flex justify-content-space-between"  *ngFor="let item of templates[activeTemplate-1].fixedOt; let idx = index;">
                              <div class="d-flex" >
                                <span class="txt mr-8 mt-2">  Additional </span>
                                <div class="mr-8 addtn-nm">
                                  <input type="number" min="2" max="500"  matInput class="inptxx" [(ngModel)]="templates[activeTemplate-1].fixedOt[idx].settings.additionalValue">
                                </div>
                                <div class="mr-8 addtn-prctyp">
                                  <mat-form-field class="addc-select-border-container mr-4 w-100">
                                    <mat-select [(ngModel)]="templates[activeTemplate-1].fixedOt[idx].settings.additionalValueUnit">
                                      <mat-option value="absolute">$</mat-option>
                                      <mat-option value="percent">%</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <span class="mr-8 mt-1">per</span>
                                <div class="mr-8 addtn-dmy">
                                  <mat-form-field class="addc-select-border-container mr-4 w-100">
                                    <mat-select [(ngModel)]="templates[activeTemplate-1].fixedOt[idx].settings.per">
                                      <mat-option *ngFor="let tm of dmys" [value]="tm.value">{{tm.name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div *ngIf="idx > 0">
                                  <button class="btn-delete-array" (click)="templates[activeTemplate-1].fixedOt = _generalClient.deleteArray(templates[activeTemplate-1].fixedOt,idx)">
                                    <svg _ngcontent-vjj-c14="" height="18" viewBox="0 0 14 18" width="14" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-vjj-c14="" fill="none" fill-rule="evenodd"><path _ngcontent-vjj-c14="" d="M-5-3h24v24H-5z"></path><path _ngcontent-vjj-c14="" d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V4H1v12zM14 1h-3.5l-1-1h-5l-1 1H0v2h14V1z" ></path></g></svg>
                                  </button>
                                </div>
                              </div>
                              <div>
                                <div class="mt-2" *ngIf="idx == this.templates[activeTemplate-1].fixedOt.length - 1">
                                  <button class="addc-btn-link" (click)="this.templates[activeTemplate-1].fixedOt = _generalClient.addFixedOut(this.templates[activeTemplate-1].fixedOt)">Add More</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row ssd" >
                        <div class="col-lg-2 col-sm-4 part-title">Completion Bonus Payment</div>
                        <div class="col-lg-10 col-sm-8 part-content">
                          <mat-radio-group [(ngModel)]="templates[activeTemplate-1].completionBonusPayment">
                            <mat-radio-button color="primary" value="lastWorkingMonth"  class="arngmnt addc-radio">Paid on last month of work (T)</mat-radio-button>
                            <mat-radio-button color="primary" value="lastWorkingMonthPlusOne"  class="arngmnt addc-radio">Paid on T+1</mat-radio-button>
                          </mat-radio-group> 
                        </div>
                      </div>
                      <div class="row ssd" >
                        <div class="col-lg-2 col-sm-4 part-title">Payslip Format</div>
                        <div class="col-lg-10 col-sm-8 part-content">
                          <div class="frmt">
                            <mat-form-field class="addc-select-border-container w-100">
                              <mat-select [(ngModel)]="templates[activeTemplate-1].payslipFormat">
                                <mat-option value="#1">#1</mat-option>
                                <mat-option value="#2">#2</mat-option>
                                <mat-option value="#3">#3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="addc-bottom d-flex justify-content-space-between">
          <div>
            <a class="addc-btn btn-secondary"  [routerLink]="['/admin/task/client']">Cancel</a>
          </div>
          <div>
            <button class="addc-btn btn-light mr-3" *ngIf="!isDone" (click)="saveDraft()">Save as draft</button>
            <button class="addc-btn btn-primary" (click)="done()">Done</button>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  




  <!-- popup -->
 
  <div class="d-flex justify-content-center align-items-center h-100 popup" *ngIf="deletePopup">
    <div class="popup-box">
      <p class="text-center font-weight-bold ttl-lgn ">Delete Client</p>
      <p class="text-center pass-scss-desc mb-60">Are you sure?</p>

      <div class="d-flex w-100 justify-content-center">
        <button class="btn addc-btn-capsule bg-danger text-center mr-4 pl-16 pr-16" (click)="deleteAccountTable()">Yes</button>
        <button class="btn bg-success addc-btn-capsule text-center pl-16 pr-16" (click)="this.deletePopup = false">Cancel</button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center h-100 popup" *ngIf="deleteTemplatePopup">
    <div class="popup-box">
      <p class="text-center font-weight-bold ttl-lgn ">Delete Template</p>
      <p class="text-center pass-scss-desc mb-60">Are you sure?</p>

      <div class="d-flex w-100 justify-content-center">
        <button class="btn addc-btn-capsule bg-danger text-center mr-4 pl-16 pr-16" (click)="deleteTemplate()">Yes</button>
        <button class="btn bg-success addc-btn-capsule text-center pl-16 pr-16" (click)="this.deleteTemplatePopup = false">Cancel</button>
      </div>
    </div>
  </div>
    
  <div class="d-flex justify-content-center align-items-center h-100 popup" *ngIf="draftPop">
    <div class="popup-box">
      <p class="text-center font-weight-bold ttl-lgn ">Data Saved</p>

      <div class="d-flex w-100 justify-content-center">
        <button class="btn bg-primary addc-btn-capsule text-center mr-4 pl-16 pr-16" [routerLink]="[ '/admin/task/client/add-new-client']"  [queryParams]="{id: draftData._id}"  (click)="this.draftPop = false">Continue Editing</button>
        <button class="btn bg-success addc-btn-capsule text-center mr-4 pl-16 pr-16" [routerLink]="[ '/admin/task/client']">Go to Home Page</button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center h-100 popup" *ngIf="genPopup?.value">
    <div class="popup-box">
      <p class="text-center font-weight-bold ttl-lgn ">{{genPopup?.msg}}</p>

      <div class="d-flex w-100 justify-content-center">
        <button class="btn bg-success addc-btn-capsule text-center pl-16 pr-16" (click)="this.genPopup.value = false">Ok</button>
      </div>
    </div>
  </div>