@import '../../general.scss';

.forget-input{
    margin-bottom: 23px;
}

.mb-8px{
    margin-bottom: 8px;
}
.mt-24{
    margin-top: 24px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px !important;
}
.mt-32{
    margin-top: 32px;
}
.back-sign-in{
    font-family: $font1;
    font-size: 14px;
    line-height: 1.43;
    color: $base-green-color;
    border-bottom: 1px solid $base-green-color;
}

