<div class="d-flex justify-content-center align-items-center h-100"  *ngIf="formActive">
  <div class="lgn-box">
    <p class="text-center font-weight-bold ttl-lgn">Forget Password</p>
    <form [formGroup]="forgetPassForm" (ngSubmit)="onSubmit()" novalidate>
      <div>
        <div class="input-group forget-input">
          <mat-form-field class="border-input w-100" [ngClass]="{'error': invalidEmail}">
            <input matInput placeholder="Email" type="email" (keydown)="deleteEmailInvalidErr($event)"  formControlName="email" required>
            <mat-error *ngIf="forgetPassForm.get('email').hasError('email')">
                Invalid email
            </mat-error>
            <mat-error *ngIf="forgetPassForm.value.email == ''">
                New Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="error-invalid" *ngIf="invalidEmail">
            Invalid email
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit"  class="button-rounded bg-base-green btn-login mb-8px">Submit</button>
        </div>
      </div>
    </form>
    <div class="text-center mt-4">
      <a [routerLink]="['/auth/login']" class="back-sign-in">Go back to sign in</a>
    </div>
  </div>
</div>




<div class="d-flex justify-content-center align-items-center h-100" *ngIf="!formActive">
  <div class="lgn-box">
    <div class="d-flex justify-content-center mb-8">
      <img src="assets/images/allow-icon.png" alt="check">
    </div>
    <p class="text-center font-weight-bold ttl-lgn ">Email Sent</p>
    <p class="text-center pass-scss-desc mb-60">An email has been sent with instructions on how to reset your password.</p>
  </div>
</div>
