@import '../../../../@themes/styles/style.scss';

.newpass-input{
    margin-bottom: 23px;
}
.mt-24{
    margin-top: 24px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px !important;
}
.mt-32{
    margin-top: 32px;
}
.pass-scss-desc{
    font-size: 16px;
    line-height: 24px;
}

.lgn-box.error{
    .image{
        display: none !important;
    }
    .ttl-lgn {
        color: $error;
    }
    .button-rounded{
        background-color: $error;
    }
}