<div>

  <div class="row align-item-start">
    <div class="col-md-6">
      <div class="addc-input-capsule-search-container">
        <input  (keyup)="applyFilter($event.target.value)" placeholder="Search for clients" class="search">
      </div>
    </div>
    <div class="col-md-6 text-right">
      <a [routerLink]="['./add-new-client']" class="addc-btn-capsule">
        <i class="icon-plus"></i>
        Add New
      </a>
    </div>
  </div>

    <div class="addc-table-container">
        
      <ng-template #popContent >
        <div class="popoffer">
          <div class="list warning mb-16">
            <b>Draft</b>: Client setup has not been completed in the system yet. 
          </div>
          <div class="list success">
            <b>Complete</b>: Client setup has been added to the system with existing Job Orders.
          </div>
        </div>  
      </ng-template>


      <table mat-table [dataSource]="dataSource" matSort class="addc-table addc-tbl-round">
        <ng-container matColumnDef="clientId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-150px pl-40"> Client ID </th>
          <td mat-cell *matCellDef="let element" class="pl-40"> 
            <span *ngIf="element.clientId == ''"> - </span>
            <span *ngIf="element.clientId != ''" class="text-uppercase">
              {{element.clientId6}}
            </span>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
          <td mat-cell *matCellDef="let element"> 
            <span class="text-capitalize">
              {{element.clientName}}
            </span>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width': '230px'}"> 
            <div class="sts">
              Status 
              <button [ngbPopover]="popContent" triggers="mouseenter:mouseleave" placement="top" class="info addc-popover-btn black">
                <i class="fa fa-exclamation-circle"></i>
              </button>
            </div> 
          </th>
          <td mat-cell *matCellDef="let element" >
            <button class="addc-btn addc-capsule {{element.status}}" (click)="goto(element)">
              {{element.status}} 
            </button>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="created_by">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
          <td mat-cell *matCellDef="let element"> 
            <span *ngIf="element.created_by == ''">-</span>
            <div *ngIf="element.created_by != ''">
              <span >{{element.created_by}}</span>
            </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="date_modifield">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-250px"> Date Created/Modified </th>
          <td mat-cell *matCellDef="let element" class="pr-40"> 
            <span *ngIf="element.date_modifield == ''">-</span>
            <div *ngIf="element.date_modifield != ''">
              <span >{{element.date_modifield | date:'dd/MM/yy, hh:mm:ss a'}}</span>
            </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class=" pr-40" style="width: 80px"></th>
          <td mat-cell *matCellDef="let element" > 
            <button class="trashbtn" (click)="deleteConfirm.show = true; deleteConfirm.data = element">
              <i class="fa fa-trash"></i> 
            </button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      </table>
    </div>
</div>

<div >
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="addc-table-page"></mat-paginator>
</div>


<!-- =======================================================
                          popup 
=======================================================-->

<div class="d-flex justify-content-center align-items-center h-100 popup" *ngIf="deleteConfirm.show">
  <div class="popup-box">
    <p class="text-center font-weight-bold ttl-lgn ">Delete {{deleteConfirm.data.status}}</p>
    <p class="text-center pass-scss-desc mb-60">Are you sure?</p>

    <div class="d-flex w-100 justify-content-center">
      <button class="btn addc-btn-capsule bg-danger text-center mr-4 pl-16 pr-16 w-100px" (click)="deleteClient(deleteConfirm.data)">Yes</button>
      <button class="btn bg-success addc-btn-capsule text-center pl-16 pr-16 w-100px" (click)="deleteConfirm.show = false">Cancel</button>
    </div>
  </div>
</div>