@import '../../general.scss';

@mixin replace-add-card($color) {
    &::before{
        background-color: lighten($color,10%);
    }
    .number{
        color: $color;
    }
  }


.add-card{
    background: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    &::before{
        content: '';
        position: absolute;
        left: 0;
        width:8px;
        top: 0;
        bottom: 0;
    }

    .number{
        font-family: $font1;
        font-size: 40px;
        line-height: 1.25;
        margin-bottom: 22px;
    }
    .desc{
        margin-bottom: 8px;
        font-family: $font1;
        font-size: 16px;

        img{
            width: 24px;
            margin-right: 4px;
        }
    }

    &.danger{
        @include replace-add-card($addc-danger);
    }
    &.primary{
        @include replace-add-card($addc-primary);
    }
    &.warning{
        @include replace-add-card($addc-warning);
    }
    &.success{
        @include replace-add-card($addc-success);
    }
}


.bottom{
    .title{
        display: flex;
        align-items: center;
        font-family: $font1;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 16px;

        img{
            width: 24px;
            margin-left: 8px;
        }
    }
    .draft-list{
        .draft{
            margin-bottom: 24px;
            &.add-bt-accordion{
                .addc-acrd-content{
                    background: #fff;
                    border-radius: 0 0 8px 8px;
                }
                .cntnt{
                    font-family: $font1;
                    font-size: 14px;
                    margin: 0 16px;
                    padding: 12px 0;
                    &:not(:last-child){
                        border-bottom: 1px solid rgba(0,0,0,.1);
                    }

                    .name{
                        font-weight: bold;
                        p{
                            margin: 0;
                            &.text-secondary{
                                color: rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
                    .time{
                        text-align: right;
                        color:  rgba(0, 0, 0, 0.5);
                        .buton{
                            .btn{
                                padding: 6px 10px;
                                min-width: 90px;
                            }
                            .download{
                                border: none;
                                background: transparent;

                                img{
                                    width: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#my-draft-action{
    .cntnt{
        padding: 25px 0;
    }
}