<div class="mt-32">
   <!-- top -->
   <div class="top">
       <div class="row">
           <div class="col-lg-3 col-sm-6 mb-16">
               <div class="add-card danger">
                   <div class="number">12</div>
                   <div class="desc">
                       <img src="assets/images/icon/master.png" alt="paper">
                       <span>Contract for Renewal</span>
                   </div>
               </div>
           </div>
           <div class="col-lg-3 col-sm-6 mb-16">
                <div class="add-card warning">
                    <div class="number">12</div>
                    <div class="desc">
                        <img src="assets/images/icon/termination.png" alt="termination">
                        <span>Contract for Termination</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="add-card success">
                    <div class="number">12</div>
                    <div class="desc">
                        <img src="assets/images/icon/download-report.png" alt="download-report">
                        <span>Reports for Download</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-16">
                <div class="add-card primary">
                    <div class="number">12</div>
                    <div class="desc">
                        <img src="assets/images/icon/save.png" alt="save">
                        <span>My Saved Drafts</span>
                    </div>
                </div>
            </div>
       </div>
   </div>


   <div class="bottom mt-16">
       <div class="row">
           <div class="col-md-6 col-sm-12">
               <h3 class="title">
                   <img src="assets/images/icon/reminder.png" alt="reminder">
                   REMINDERS
               </h3>
               <div class="draft-list">
                    <div class="draft add-bt-accordion">
                        <button type="button" class="" (click)="isCollapsed = !isCollapsed"
                                [attr.aria-expanded]="!isCollapsed" aria-controls="my-draft">
                            My Drafts
                            <i class="caret fa fa-angle-down"></i>
                        </button>
                        <div id="my-draft" class="addc-acrd-content" [ngbCollapse]="isCollapsed">
                            <div class="cntnt">
                                <div class="row">
                                    <div class="col-sm-8 name">
                                            Mary Tan (Associate ID: 001)
                                    </div>
                                    <div class="col-sm-4 time">
                                            20 days left
                                    </div>
                                </div>
                            </div>
                            <div class="cntnt">
                                <div class="row">
                                    <div class="col-sm-8 name">
                                            Pater Tan (Associate ID: 002)
                                    </div>
                                    <div class="col-sm-4 time">
                                            21 days left
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="draft">
                        <div class="draft add-bt-accordion">
                            <button type="button" class="" (click)="isCollapsed2 = !isCollapsed2"
                                    [attr.aria-expanded]="!isCollapsed2" aria-controls="report-download">
                                Reports for Download
                                <i class="caret fa fa-angle-down"></i>
                            </button>
                            <div id="report-download" class="addc-acrd-content" [ngbCollapse]="isCollapsed2">
                                <div class="cntnt">
                                    <div class="row">
                                        <div class="col-sm-8 name">
                                                Mary Tan (Associate ID: 001)
                                        </div>
                                        <div class="col-sm-4 time">
                                                20 days left
                                        </div>
                                    </div>
                                </div>
                                <div class="cntnt">
                                    <div class="row">
                                        <div class="col-sm-8 name">
                                                Pater Tan (Associate ID: 002)
                                        </div>
                                        <div class="col-sm-4 time">
                                                22 days left
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
           <div class="col-md-6 col-sm-12">
                <h3 class="title">
                    <img src="assets/images/icon/action.png" alt="action">
                    ACTIONS REQUIRED
                </h3>
                <div class="draft-list">
                    <div class="draft ">
                        <div class="draft add-bt-accordion">
                            <button type="button" class="" (click)="isCollapsed3 = !isCollapsed3"
                                    [attr.aria-expanded]="!isCollapsed3" aria-controls="my-draft-action">
                                My Drafts
                                <i class="caret fa fa-angle-down"></i>
                            </button>
                            <div id="my-draft-action" class="addc-acrd-content" [ngbCollapse]="isCollapsed3">
                                <div class="cntnt">
                                    <div class="row">
                                        <div class="col-sm-8 name">
                                            <p class="text-secondary">Add New Client </p>
                                            <p>
                                                Mary Tan (Associate ID: 001)
                                            </p>
                                        </div>
                                        <div class="col-sm-4 time">
                                            <div class="buton">
                                                <button class="btn addc-capsule text-center bg-base text-white">Continue</button>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="cntnt">
                                    <div class="row">
                                        <div class="col-sm-8 name">
                                            <p class="text-secondary">Add New Client </p>
                                            <p>
                                                Mary Tan (Associate ID: 001)
                                            </p>
                                        </div>
                                        <div class="col-sm-4 time">
                                            <div class="buton">
                                                <button class="btn addc-capsule text-center bg-base text-white">Continue</button>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="draft">
                        <div class="draft add-bt-accordion">
                            <button type="button" class="" (click)="isCollapsed4 = !isCollapsed4"
                                    [attr.aria-expanded]="!isCollapsed4" aria-controls="report-download-action">
                                Reports for Download
                                <i class="caret fa fa-angle-down"></i>
                            </button>
                            <div id="report-download-action" class="addc-acrd-content" [ngbCollapse]="isCollapsed4">
                                <div class="cntnt">
                                    <div class="row">
                                        <div class="col-sm-8 name">
                                            Report 1
                                        </div>
                                        <div class="col-sm-4 time">
                                            <div class="buton">
                                                <button class="download">
                                                    <img src="assets/images/icon/download.png" alt="download">
                                                </button>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="cntnt">
                                    <div class="row">
                                        <div class="col-sm-8 name">
                                            Report 2
                                        </div>
                                        <div class="col-sm-4 time">
                                            <div class="buton">
                                                <button class="download">
                                                    <img src="assets/images/icon/download.png" alt="download">
                                                </button>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
   </div>

</div>