<div>
  <div class="row align-item-start">
    <div class="col-md-4">
      <div class="addc-input-capsule-search-container w-100">
        <input placeholder="Search for client/job order name" class="search">
      </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4  text-right">
      <a [routerLink]="['./create-new-employment-contract']" class="addc-btn-capsule download-scv pl-16" *ngIf="isCreateContract">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <g fill="none" fill-rule="evenodd">
              <path d="M0 0h24v24H0z"/>
              <path fill="#000" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z"/>
          </g>
      </svg>
        Create Employment Contract
      </a>
    </div>
  </div>

  <ngb-tabset class="addc-b-tabs" (click)="tabChange($event)" >
    <ngb-tab id="all">
      <ng-template ngbTabTitle >All</ng-template>
      <ng-template ngbTabContent>
        <div class="bg-white pt-16 pb-16">
          asdasdasd
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="draft">
      <ng-template ngbTabTitle>Draft (3)</ng-template>
      <ng-template ngbTabContent id="draft-content">
        <div class="bg-white pt-16 pb-16">
          <app-emp-cont-draft></app-emp-cont-draft>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="pending">
      <ng-template ngbTabTitle>Pending Signature (3)</ng-template>
      <ng-template ngbTabContent>
        <div class="bg-white pt-16 pb-16">
          <emp-cont-pending-signature></emp-cont-pending-signature>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="sign">
      <ng-template ngbTabTitle>Signed (3)</ng-template>
      <ng-template ngbTabContent>
        <div class="bg-white pt-16 pb-16">
          <emp-cont-signed></emp-cont-signed>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  
  
  
  
  
  
    <!-- ================================================
                   popup 
        ================================================-->
 
  
  </div>