@import '../../@themes/styles/style.scss';

$width-menu:188px;

.ng-admin{
    .app-mn-cntn{
        display: flex;
        align-items: stretch;
    }

    app-menu{
        width: $width-menu;
        overflow-y: auto;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        margin-left: 1px;
    }
}



.admin-fixed {
    admin-header{
        position: fixed;
        width: 100%;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
    }
    .app-mn-cntn{
        padding-top: 64px;
    }

    app-menu{
       position: fixed;
       top: 64px;
       left: 0;
       bottom: 0;
       z-index: 999;
    }
    .app-cntent{
        margin-left: $width-menu + 32px;
    }
}


.app-cntent{
    margin: 8px 32px;
}
.admin-content{
    min-height: 76vh;
    position: relative;

}