@import '../../general.scss';


$header-height: 64px;

.admin-header{
    max-height: $header-height;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
    &.header-fixed{
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0;
    }

    .logo{
        width: $width-menu;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 139px;
        }
    }
    .cntr{
        max-height: $header-height;
        padding: 16px 32px;
        width: calc(100% - #{$width-menu});

        .search{
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 4px 8px;
            border-radius: 50px;
            max-width: 340px;
            width: 100%;

            i{
                color: rgba(0,0,0,0.3);
                padding: 0 3px;
            }
            img{
                width: 18px;
                height: 18px;
                margin-top: -2px;
            }
            input{
                font-size: 14px;
                border:none;
                margin-left: 5px;
                width: calc(100% - 30px);
                &::placeholder { 
                    color: rgba(0,0,0,0.3);
                }
                &:focus{
                    outline:none;
                }
            }
        }

        .menu{
            display: flex;
            position: relative;
            padding-right: 12px;
            margin-right: 12px;

            &::after{
                content: '';
                width: 1px;
                background-color: rgba(0,0,0,0.13);
                position: absolute;
                top: -4px;
                right: -1px;
                bottom: -4px;
            }

            button{
                background: transparent;
                border:none;
                margin: auto 6px;
                font-size: 20px;
                color: rgba(0,0,0,0.3);
                padding: 0 6px;

                &:focus,
                &:active{
                    outline: none;
                }
            }

            .main-mn{
                position: relative;

                &>button{
                    img{
                        width: auto;
                        height: 20px;
                    }
                    &:after{
                        content: none;
                    }
                }

               
                &.notification{
                    &>.mn-child{
                        width: 300px;
                        left: calc(50% - 150px) !important;

                        .mn-container{
                            padding: 11px 16px 8px;
                            display: flex;

                            &:not(:last-child){
                                border-bottom: 1px solid rgba(0,0,0,.1);
                            }
                        }
                        .img-avatar{
                            width: 32px;
                            height: 32px;
                            overflow: hidden;
                            border-radius: 50%;
                            margin: 3px 8px;

                            img{
                                width: 100%;
                            }
                        }

                        .det{
                            font-family: $font1;
                            color: rgba(0, 0, 0, 0.5);
                            .msg{
                                font-size: 14px;
                                b{
                                    color: #000;
                                }
                            }
                            .time{
                                font-size: 12px;
                            }
                        }
                    }
                }

                &.settings{
                    &>.mn-child{
                        width: 150px;
                        left: calc(50% - 80px) !important;
                    }
                }
            }
        }

        .mn-child{
            position: absolute;
            top: 20px !important;
            background: #fff;
            filter:drop-shadow(0 -1px 4px rgba(0, 0, 0, 0.2));
            padding: 16px 0;
            max-height: 300px;
            border-radius: 5px;
            will-change: auto !important;

            &.active{
                display: block;
            }

            button{
                border: none;
                background: transparent;
                width: 100%;
                text-align: left;
                margin: 0;
                transition: all .3s ease-in-out;
                &:hover{
                    background: rgba(0,0,0,0.05);
                }
                &:active{
                    background: rgba(0,0,0,0.1);
                }
            }

            &:after{
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 10px 10px 10px;
                left:calc(50% - 15px);
                border-color: transparent transparent #fff transparent;
                bottom: calc(100% - 1px);
                position: absolute;
            }
        }


        .profile{
            margin-left: 4px;
            padding-left: 4px;
            .bt-profile{
                margin: 0;
                width: 100%;
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                
                &::after{
                    content: none;
                }

                .user-pic{
                    overflow: hidden;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    margin: 0 8px;

                    img{
                        width: 32px;
                    }
                }
                .user-name{
                    display: flex;
                    align-items: center;
                    h3{
                        font-family: $font1;
                        font-size: 14px;
                        margin: 0;
                        font-weight: normal;
                    }
                }
            }

            .mn-child{
                top: 15px !important;
            }
        }

    }
}