<table mat-table [dataSource]="dataSource" matSort class="addc-table w-100">

    <ng-container matColumnDef="client_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Client Name </th>
      <td mat-cell *matCellDef="let element" > 
        {{element.client_name}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="job_order_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Order Name </th>
      <td mat-cell *matCellDef="let element"> 
        <span class="text-capitalize">
          {{element.job_order_name}}
        </span>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="associate_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Associate ID</th>
      <td mat-cell *matCellDef="let element" >
        {{element.associate_id == ''?'N/A':element.associate_id}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="associate_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Associate Name </th>
      <td mat-cell *matCellDef="let element"> 
        {{element.associate_name == ''?'N/A':element.associate_name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="attacment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attacment </th>
      <td mat-cell *matCellDef="let element" > 
        <a target="_self" download="{{element.attacment}}" href="{{element.attacment}}" class="pdf-download" *ngIf="element.attacment != ''">
          <img src="assets/images/icon/pdf.png" alt="pdf" style="width: 24px;">
        </a>
        <span *ngIf="element.attacment == ''">N/A</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef >  </th>
        <td mat-cell *matCellDef="let element" > 
          <button>edit</button>
          <button>delete</button>
        </td>
      </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection(row)"></tr>
  </table>