@import '../../../general.scss';

.addc-input-capsule-search-container{
  width: 100%;
  max-width: 350px;
  input::placeholder{
    color: rgba(0,0,0,.3)
  }
}

.addc-btn-cpsl{
  border: none;
  display: block;
  padding: 8px 16px;
  border-radius: 50px;
  font-family: $font1;
  font-size: 14px;
  line-height: 1.43;

  &.bg-success{
    background: lighten( $addc-success, 16%) !important;
  }
  &.bg-danger{
    background: lighten( $error, 14%) !important;
  }
  &.bg-warning{
    background: lighten( $addc-warning, 13%) !important;
  }
  &.addc-bg-primary{
    background: lighten($addc-primary,4%) !important;
  }
}

.pdf-download{
  img{
    width: 24px;
    height: 24px;
  }
}

.addc-table-container {
    height: 430px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    filter: drop-shadow( 0 2px 2px rgba(0,0,0,.05));
}
  
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

.download-scv{
  padding-left: 16px;
  line-height: 22px;
  display: inline-block;

  .icon{
    height: 22px;
    width: 22px;
    margin-bottom: 2px;
  }
}

.w-170{
  width: 170px !important;
}

.strat-end-date{
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;

  .dts{
    width: 130px;
    border: none;
    line-height: 32px;
    input{
      width: 130px;
      border-right: 1px solid rgba(0,0,0,.1);
    }
  }
  .start-date{
    border-radius: 4px 0 0 4px;
  }
  .date-logo{
    padding: 4px;
    svg g path:last-child{
      fill: rgba(0,0,0,.5)
    }
  }
}

$brdr : #cacaca;
.popupdetail{
  .popup-item{
    overflow: auto;
    max-height: 90%;
    border-radius: 8px;
    min-width: 300px;
    max-width: 1000px;
    padding: 16px 0;
  }
  .popup-header,
  .popup-body,
  .popup-footer{
    padding: 0 70px;
  }
  
  .popup-header{
    position: relative;
    border-bottom: 2px solid $brdr;

    .close-btn{
      position: absolute;
      right: 10px;
      top: 0px;
            
      .btn-close{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgba(0,0,0,.1);
        border: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        i{
          font-size: 40px;
          position: relative;

          &::before,
          &::after{
            content: '';
            position: absolute;
            width: 28px;
            height: 3px;
            background: #000;
            left: -14px;
            top: -1px;
          }
          &::before{
            transform: rotate(45deg);
          }
          &::after{
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  .popup-body{
    position: relative;
    
    .ttl-dtl,
    .ttl-text,
    .dtl-text{
      margin-bottom: 14px;
    }
    .file-view{
      background: rgba(0, 0, 0, 0.05);
      border: 1px dashed rgba(151, 151, 151, 0.5);
      padding: 15px;
      width: calc(100% - 30px);
      max-width: 330px;
      position: relative;
      img{
        width: 100%;
        height: auto;
      }

      .pdf-view{
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: -1px 3px 4px rgba(0,0,0,.1);
        border: none;
        svg path:last-child{
          fill:$base-green-color;
        }
      }

      .pdf-view-more{
        text-align: center;
        margin-bottom: -10px;
        button{
          border: none;
          background: transparent;
          font-size: 12px;
          color: $base-green-color;
          font-family: $font1;
          text-transform: uppercase;
          font-weight: bold;
          position: relative;
          i{
            font-size: 30px;
            position: absolute;
            left: 100%;
            top: -6px;
          }
        }
      }
    }

    .edit-btn{
      background: darken($base-green-color, 15%);
      border-radius: 50px;
      border: none;
      padding: 2px 15px;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
    }
    .edit-amount{
      input{
        width: 100px;
      }
    }

    .pdf-loading{
      height: 350px;
    }
  }

  .popup-footer{
    border-top: 2px solid $brdr;
    padding-top: 15px;

    .reject-remark{
      resize: none;
      width: 333px;
      font-family: $font1;
      font-size: 12px;
      line-height: 1.17;
      height: 40px;
      padding: 5px 6px;
      &::placeholder{
        font-family: $font1;
        font-size: 12px;
        line-height: 1.17;
        color: #848181;
      }
    }
  }
  
  .ttl-dtl,
  .detail{
    font-weight: bold;
  }

  .title,
  .detail,
  .ttl-dtl,
  .ttl-text,
  .dtl-text{
    font-family: $font1;
    font-size: 14px;
  }

  .ttl-text,
  .title{
    color: rgba(0, 0, 0, 0.5);
  }

  .prevbtn,
  .nextbtn{
    position: absolute;
    top: calc(50% - 30px);

    button{
      background: transparent;
      border:none;
      img{
        width: 52px;
      }
      &[disabled]{
        img{
          filter: opacity(.4);
        } 
      }
    }
  }

  .prevbtn{
    left: 0;
    padding-left: 0;
  }
  .nextbtn{
    right: 0;
    padding-right: 0;
  }
}

.mb-18{
  margin-bottom: 18px;
}
.mb-62{
  margin-bottom: 62px;
}


.attacment{
  font-family: $font1;
  font-size: 14px;
  line-height: 1.43;
  color: rgba(0, 0, 0, 0.5);
}


.tbl-header-btn{
  background: transparent;
  border:none;

  .tbl-header-img{
    width: 14px;
    -webkit-filter: brightness(10); /* Safari 6.0 - 9.0 */
    filter: brightness(10);
  }
}

.tbl-filter-input{
  position: absolute;
  color: #000;
  background: #fff;
  left: 0;
  width: 250px;
  top: calc(100% + 10px);
  text-align: left;
  border: 1px solid rgba(0,0,0,.2);
  padding: 8px;
  &.right{
    left: auto;
    right: 0;
  }
}

.w-228{
  width: 228px;
}
.w-330{
  width: 330px;
}

.popup-item-cust{
  width: 95%;
  height: 95%;
  display: block;
}