<div>
    <div class="row align-item-start">
      <div class="col-md-4">
        <div class="addc-input-capsule-search-container">
          <input  (keyup)="applyFilter($event.target.value)" placeholder="Search for claims" class="search">
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-item-start">
      
      </div>
      <div class="col-md-4 text-right">
        <button class="mr-4 addc-btn-capsule download-scv" (click)="filterData()" [ngClass]="{'bg-base': isFilter}">
          <img src="assets/images/icon/Filter_icon.png" alt="png" class="icon">
          Filter By
        </button>
        <button class="addc-btn-capsule download-scv" (click)="export()">
          <img src="assets/images/icon/download.png" alt="png" class="icon">
          Download Excel
        </button>
      </div>
    </div>
  
      <div class="addc-table-container" >
        <ng-template #popContent >
          <div class="popoffer">
            <div class="list warning mb-16">
              <b>Draft</b>: Client setup has not been completed in the system yet. 
            </div>
            <div class="list success">
              <b>Complete</b>: Client setup has been added to the system with existing Job Orders.
            </div>
          </div>  
        </ng-template>
  
        <table  mat-table [dataSource]="dataSource" matSort [matSortDisabled]="isFilter" class="tbl-claim addc-table addc-tbl-round addc-table-disable-icon-hide">

          <ng-container matColumnDef="associateId">
            <th mat-header-cell mat-sort-header *matHeaderCellDef style="width:130px;"> 
              <span>Associate ID </span>
              <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(0)"><img src="assets/images/icon/Filter_icon.png" alt="filter" class="tbl-header-img"></button>
              <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 0" >
                <filtertable (clickOutside)="clickOutsideFilter(0)" [type]="'associateId'" [inputType]="'checkbox'" ></filtertable>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" > 
              #{{element.associateId  | slice:element.associateId.length-6 :element.associateId.length }} 
            </td>
          </ng-container>
        
          <ng-container matColumnDef="claimName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 250px;">  
              <span>Name</span>
              <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(1)"><img src="assets/images/icon/Filter_icon.png" alt="filter" class="tbl-header-img"></button>
              <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 1" >
                <filtertable (clickOutside)="clickOutsideFilter(1)" [type]="'claimName'" [inputType]="'checkbox'" ></filtertable>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> 
              <span class="text-capitalize">
                {{element.claimName}}
              </span>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="noReceiptRemarks">
            <th mat-header-cell mat-sort-header *matHeaderCellDef >
              <span>NRIC</span>
              <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(2)"><img src="assets/images/icon/Filter_icon.png" alt="filter" class="tbl-header-img"></button>
              <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 2" >
                <filtertable (clickOutside)="clickOutsideFilter(2)" [type]="'noReceiptRemarks'" [inputType]="'checkbox'" ></filtertable>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" >
              <div>{{element.noReceiptRemarks}}</div>  
            </td>
          </ng-container>

          <ng-container matColumnDef="currencyAmount">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>  
              <span>Amount</span>
              <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(3)"><img src="assets/images/icon/Filter_icon.png" alt="filter" class="tbl-header-img"></button>
              <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 3" >
                <filtertable (clickOutside)="clickOutsideFilter(3)" [type]="'currencyAmount'" [inputType]="'checkbox'" ></filtertable>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"> 
              {{element.currencyAmount | currency:element.currency?.toUpperCase() :'symbol-narrow' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status" style="width: 130px;">
            <th mat-header-cell mat-sort-header *matHeaderCellDef >  
              <span>Status</span>
              <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(4)"><img src="assets/images/icon/Filter_icon.png" alt="filter" class="tbl-header-img"></button>
              <div class="tbl-filter-input" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 4" >
                <filtertable (clickOutside)="clickOutsideFilter(4)" [type]="'status'" [inputType]="'checkbox'" ></filtertable>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" > 
              <button  class="addc-btn-cpsl text-center w-100" 
                (click)="showClaimDetail(element)"
                [ngClass]="{
                  'bg-success': element.status == 'approved',
                  'bg-danger': element.status == 'rejected',
                  'bg-warning': element.status == 'pendingApproval',
                  'addc-bg-primary': element.status == 'processed'
                }">
                <span class="text-center text-capitalize " *ngIf="element.status != 'pendingApproval'">{{element.status}}</span>
                <span class="text-center text-capitalize " *ngIf="element.status == 'pendingApproval'">Pending Approval</span>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="attachment">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>  
              <span>Attachment</span>
              <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(5)"><img src="assets/images/icon/Filter_icon.png" alt="filter" class="tbl-header-img"></button>
              <div class="tbl-filter-input " *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 5" >
                <filtertable (clickOutside)="clickOutsideFilter(5)" [type]="'attachment'" [inputType]="'checkbox'" ></filtertable>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" > 
              <div class="text-left">
                <div *ngIf="element.attachment.length == 1" class="pdf-download">
                  <img src="assets/images/icon/pdf.png" alt="pdf">
                </div>
                <div *ngIf="element.attachment.length > 1" class="pdf-download">
                  <img src="assets/images/icon/pdf.png" alt="pdf">
                  <img src="assets/images/icon/pdf.png" alt="pdf">
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="submissionDate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> 
              <span>Date Submitted </span>
              <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(6)"><img src="assets/images/icon/Filter_icon.png" alt="filter" class="tbl-header-img"></button>
              <div class="tbl-filter-input right" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 6" >
                <filtertable (clickOutside)="clickOutsideFilter(6)" [type]="'submissionDate'" [inputType]="'date-picker'" (isOutside)="isOutsides($event)"></filtertable>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" > 
              {{element.submissionDate}}
            </td>
          </ng-container>

          <ng-container matColumnDef="receiptDate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> 
              <span>Date Approved </span>
              <button class="tbl-header-btn" *ngIf="isFilter"  (click)="showFilter(7)"><img src="assets/images/icon/Filter_icon.png" alt="filter" class="tbl-header-img"></button>
              <div class="tbl-filter-input right" *ngIf="isFilter && isShowFilter?.status && isShowFilter?.show == 7" >
                <filtertable (clickOutside)="clickOutsideFilter(7)" [type]="'receiptDate'" [inputType]="'date-picker'" (isOutside)="isOutsides($event)"></filtertable>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="text-capitalize"> 
              <div *ngIf="element.receiptDate != ''">
                {{element.receiptDate}}
              </div>
              <div *ngIf="element.receiptDate == ''">-</div>
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
  </div>
  
  <div >
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="addc-table-page"></mat-paginator>
  </div>


  <!-- for export excel -->
  <table class="d-none" id="exportTable">
    <tr>
      <th class="font-weight-bold">Associate ID</th>
      <th class="font-weight-bold">Name</th>
      <th class="font-weight-bold">NIRC</th>
      <th class="font-weight-bold">Amount</th>
      <th class="font-weight-bold">Status</th>
      <th class="font-weight-bold">Date Submitted</th>
    </tr>
    <tr *ngFor="let item of data">
      <td >{{item.associateId}}</td>
      <td >{{item.claimName}}</td>
      <td >{{item.noReceiptRemarks}}</td>
      <td >{{item.currencyAmount | currency:item.currency?.toUpperCase() :'symbol-narrow'}}</td>
      <td >{{item.status}}</td>
      <td >{{item.submissionDate}}</td>
    </tr>
  </table>
  



  <!-- ==================================================================
                                 popup
       ================================================================== -->

<div class="popup d-flex align-items-center justify-content-center popupdetail" *ngIf="popupDetail">
    <div class="bg-white popup-item">

      <div class="popup-header mb-8">
        <div class="close-btn text-right">
          <button class="btn-close" (click)="popupDetail=false">
            <i></i>
          </button>
        </div>
  
        <div class="row mb-8 align-items-center font1">
          <div class="col-md-8 col-sm-6">
            <div class="row">
              <div class="col-6 title">
                Associate ID
              </div>
              <div class="col-6 detail">
                #2323123
              </div>
            </div>
            <div class="row">
              <div class="col-6 title">
                Name
              </div>
              <div class="col-6 text-capitalize detail">
                jajaj jajaj
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 text-right">
            <div class="pb-8 w-170 ml-auto mr-4">
              <div  class="addc-btn-cpsl text-center text-capitalize w-100" 
              [ngClass]="{
                'bg-success': claimDtl?.status == 'approved',
                'bg-danger': claimDtl?.status == 'rejected',
                'bg-warning': claimDtl?.status == 'pendingApproval',
                'addc-bg-primary': claimDtl?.status == 'processed'
              }">
                {{claimDtl?.status}}
              </div>
            </div>
  
          </div>
        </div>
      </div>
       

      <div class="popup-body mt-8">
        <div class="row mb-16">
          <div class="col-md-6 dtl-text ">
            <div class="ttl-dtl">
              Details
            </div>
            <div class="row">
              <div class="col-md-6 ttl-text">
                Type of Claims
              </div>
              <div class="col-md-6 dtl-text font-weight-bold">
                Transport
              </div>
            </div> 
            <div class="row">
              <div class="col-md-6 ttl-text">
                Receipt Date
              </div>
              <div class="col-md-6 dtl-text font-weight-bold">
                dd/mm/yyyy
              </div>
            </div> 
            <div class="row">
              <div class="col-md-6 ttl-text">
                Currency
              </div>
              <div class="col-md-6 dtl-text font-weight-bold">
                SGD
              </div>
            </div> 
            <div class="row">
              <div class="col-md-6 ttl-text">
                Exchange Mode
              </div>
              <div class="col-md-6 dtl-text font-weight-bold">
                N/A
              </div>
            </div> 
            <div class="row">
              <div class="col-md-6 ttl-text">
                Exchange Rate
              </div>
              <div class="col-md-6 dtl-text font-weight-bold">
                N/A
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 ttl-text">
                Receipt Amount
              </div>
              <div class="col-md-6 dtl-text font-weight-bold">
                <div class="d-flex justify-content-space-between">
                  <span>$23.23</span>
                  <button class="edit-btn" *ngIf="claimDtl?.status == 'approved'" (click)="isEditAmount = true;">Edit</button>
                </div>
                <div class="edit-amount" *ngIf="isEditAmount && claimDtl?.status == 'approved'">
                  <input type="number" >
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="col-md-6 ttl-text">
                Remarks
              </div>
              <div class="col-md-6 dtl-text font-weight-bold">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam quidem nam, voluptatem facilis, omnis nulla, facere quibusdam sed impedit praesentium iusto nesciunt! Quae laborum velit corporis quia laudantium amet unde?
              </div>
            </div> 
            <div class="row" *ngIf="claimDtl?.status == 'rejected'">
              <div class="col-md-6 ttl-text">
                Remark Rejection
              </div>
              <div class="col-md-6 dtl-text font-weight-bold">
                [admin] Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam quidem nam, voluptatem facilis, omnis nulla, facere quibusdam sed impedit praesentium iusto nesciunt! Quae laborum velit corporis quia laudantium amet unde?
              </div>
            </div> 
          </div>
          <div class="col-md-6 dtl-pdf-view " *ngIf="claimDtl?.attachment.length > 0">
            <div class="d-flex justify-content-end flex-wrap">
              <div class="ttl-dtl w-330">
                Attachment<span *ngIf="claimDtl?.attachment.length>1">s</span>
              </div>
              <div class="file-view d-inline-block" >
                <div class="pdf" *ngIf="pdfshow">
                  <div *ngIf="isPdfLoad" class="w-100 d-flex justify-content-center align-items-center pdf-loading"><mat-spinner diameter="20"></mat-spinner></div>
                  <!-- <img src="assets/images/pdftry.png" alt="pdf try"> -->
                  <div [ngClass]="{'d-none': isPdfLoad}">
                    <pdf-viewer 
                      [src]="claimDtl?.attachment[attchIdx]"
                      [show-all]="false"
                      [render-text]="true"
                      [zoom]="0.35"
                      (on-progress)="pdfLoad($event)"
                      page="1"
                    >
                  </pdf-viewer>
                  </div>
                </div>
                <button class="pdf-view" (click)="showPopUpPDF(claimDtl?.attachment[attchIdx])">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27" height="18" viewBox="0 0 22 16">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M-1-4h24v24H-1z"/>
                        <path fill="#5cb8b2" d="M11 .5C6 .5 1.73 3.61 0 8c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5C20.27 3.61 16 .5 11 .5zM11 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8C9.34 5 8 6.34 8 8s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                    </g>
                  </svg>
                </button>
                <div class="pdf-view-more" *ngIf="claimDtl?.attachment.length > 1">
                  <button (click)="viewMoreAttch(claimDtl?.attachment.length)" [disabled]="isPdfLoad">
                    View More Attachment
                    <i class="fa fa-angle-down"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="prevbtn" *ngIf="data.length > 1">
          <button [disabled]="!isDataPrevAct" (click)="prevData()">
            <img src="assets/images/icon/Arrow_icon.png" alt="arrow" style="transform: rotate(180deg);">
          </button>
        </div>
        <div class="nextbtn" *ngIf="data.length > 1">
          <button [disabled]="!isDataNextAct" (click)="nextData()">
            <img src="assets/images/icon/Arrow_icon.png" alt="arrow">
          </button>
        </div>
      </div>       
      <div class="popup-footer" *ngIf=" claimDtl?.status == 'approved'">
        <div class="row">
          <div class="col-sm-6 text-center">
            <button class="addc-btn-capsule pl-16 text-center bg-error w-228 text-white" (click)="rejectClaim()">Reject</button>
          </div>
          <div class="col-sm-6 text-center">
            <textarea *ngIf="isRejectClicked" class="reject-remark" placeholder="Enter remarks for rejection, then click ‘Reject’ again to confirm"></textarea>
            <button  class="addc-btn-capsule pl-16 bg-base w-228 text-white" *ngIf="!isRejectClicked">Verify for Processing</button>
          </div>
        </div>
      </div>
    </div>
</div>       


<div class="popup d-flex align-items-center justify-content-center popupdetail" *ngIf="popupDetPdf.show">
  <popup-detail-pdf [source]="popupDetPdf.source" class="bg-white popup-item-cust" (close)="popupDetPdf.show = $event"></popup-detail-pdf>
</div>