/* You can add global styles to this file, and also import other style files */

$base-green-color: #5cb8b2;
$secondary-color: #e0e0e0;
$light-color:#cae5e3;
$error : #d78189;


//color
$addc-danger: #e3a86b;
$addc-warning:#f5d66e;
$addc-success:#c4d36d;
$addc-primary: #85bae7;


$font1:Roboto;
$fontello: fontello;
$fontawesome: fontawesome;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto; }
.justify-content-space-between{
    justify-content: space-between;
}
.ellapsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.popup{
    position: fixed;
    background: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    .popup-box{
        background: #fff;
        border-radius: 5px;
        padding: 20px;
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}





//theme
.text-base{color: $base-green-color;}
.text-danger{color: $addc-danger;}
.text-warning{color: $addc-warning;}
.text-success{color: $addc-success;}
.text-primary{color: $addc-primary;}
.text-error{color: $error;}


.bg-base,.addc-bg-base{background-color: $base-green-color;}
.bg-danger,.addc-bg-danger{background-color: $addc-danger;}
.bg-warning,.addc-bg-warning{background-color: $addc-warning;}
.bg-success,.addc-bg-success{background-color: $addc-success;}
.bg-error,.addc-bg-error{background-color: $error;}
.addc-bg-primary{background-color: $addc-primary;}


.mx-8{margin: 8px !important;}
.mx-16{margin: 16px !important;}
.mx-24{margin: 24px !important;}
.mx-32{margin: 32px !important;}
.mb-8{margin-bottom: 8px !important;}
.mb-16{margin-bottom: 16px !important;}
.mb-24{margin-bottom: 24px !important;}
.mb-32{margin-bottom: 32px !important;}
.mt-8{margin-top: 8px !important;}
.mt-16{margin-top: 16px !important;}
.mt-24{margin-top: 24px !important;}
.mt-32{margin-top: 32px !important;}
.ml-8{margin-left: 8px !important;}
.ml-16{margin-left: 16px !important;}
.ml-24{margin-left: 24px !important;}
.ml-32{margin-left: 32px !important;}
.mr-8{margin-right: 8px !important;}
.mr-16{margin-right: 16px !important;}
.mr-24{margin-right: 24px !important;}
.mr-32{margin-right: 32px !important;}

.px-8{padding: 8px !important;}
.px-16{padding: 16px !important;}
.px-24{padding: 24px !important;}
.px-32{padding: 32px !important;}
.pb-8{padding-bottom: 8px !important;}
.pb-16{padding-bottom: 16px !important;}
.pb-24{padding-bottom: 24px !important;}
.pb-32{padding-bottom: 32px !important;}
.pt-8{padding-top: 8px !important;}
.pt-16{padding-top: 16px !important;}
.pt-24{padding-top: 24px !important;}
.pt-32{padding-top: 32px !important;}
.pl-8{padding-left: 8px !important;}
.pl-16{padding-left: 16px !important;}
.pl-24{padding-left: 24px !important;}
.pl-32{padding-left: 32px !important;}
.pr-8{padding-right: 8px !important;}
.pr-16{padding-right: 16px !important;}
.pr-24{padding-right: 24px !important;}
.pr-32{padding-right: 32px !important;}

.font1{font-family: $font1;}




.border-input{
    .mat-form-field-label{
        margin-left: 16px;
        margin-top:10px;
    }
    &.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float 
    {
        .mat-form-field-label{
            background: #fff;
            display: inline-block;
            margin-top:0;
            margin-left: 11px;
            padding: 0 5px;
            width: auto;
            transform: translateY(-.85em) scale(.75) perspective(100px) translateZ(.001px) !important;
            .mat-placeholder-required{
                display: none;
            }
        }
        &:not(.mat-form-field-invalid) .mat-form-field-label{
            color: $base-green-color;
        }
    }

    .mat-form-field-infix{
        border: solid 1px #b2b2b2;
        padding: 16px;
        border-radius: 5px;
    }
    .mat-form-field-underline{
        display: none;
    }
    .mat-error{
        margin-left: 16px;
        font-size: 12px;
        color: $error;
    }
    .mat-form-field-suffix{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 20px;
        display: flex;
    }

    &.error,
    &.mat-form-field-invalid {
        .mat-form-field-label {
            color: $error !important;
            .mat-placeholder-required{
                color: $error;
            }
        }
        .mat-form-field-suffix{
            color: $error;
            i{
                color: $error;
            }
        }
        .mat-form-field-infix{
            border-color: $error !important;
        }
    }
}

.checkbox-base-green{
    .mat-checkbox-frame{
        border-color: rgba(0,0,0,.4);
    }
    &.mat-checkbox-checked {
        .mat-checkbox-background{
            background-color:$base-green-color;
         }
    }
}

.login-bg{
    background-image: url('assets/images/bg01.jpg');
    background-size: 100% 100%;
    background-position-x: center;
}

.admin-bg{background-color: #f4f4f5;}







//table
$table-radius: 8px;

.addc-table{
    &.addc-tbl-round{
        border-radius: $table-radius;
        thead{
            th.mat-header-cell{
                &:first-child{
                    border-radius: $table-radius 0 0 0 ;
                }
                &:last-child{
                    border-radius: 0 $table-radius 0 0 ;
                }
            }
        }
        tbody{
            tr:last-child{
                border-radius: 0 0 $table-radius $table-radius;
    
                td.mat-cell{
                    &:first-child{
                        border-radius: 0  0 0 $table-radius;
                    }
                    &:last-child{
                        border-radius: 0 0 $table-radius  0 ;
                    }
                }
            }
        }
    }
    
    thead{
        tr.mat-header-row{
            height: auto;
        }
        th.mat-header-cell{
            background: darken($base-green-color, 5%);
            color: #fff;
            font-family: $font1;
            font-size: 12px;
            font-weight: normal;
            padding: 10px 0 10px 24px;
        }
    }
    tbody{
        td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
            padding: 10px 0 10px 24px;
        }
    }

    .mat-sort-header-arrow{
        .mat-sort-header-stem{background: transparent}
        .mat-sort-header-indicator{
            .mat-sort-header-pointer-left,
            .mat-sort-header-pointer-right,
            .mat-sort-header-pointer-middle{
                color: #fff !important;
            }
        }
    }
    thead{
        th:not([aria-sort]){
            .mat-sort-header-button{
                position: relative;

                &::before,
                &::after{
                    position: absolute;
                    color: #fff;
                    font-size: 9px;
                    left: calc(100% + 8px);
                }

                &::before{
                    transition: all 1s;
                    content:'\f077';
                    font-family: $fontawesome;
                    top: -1px;
                }
                &::after{
                    content:'\f078';
                    font-family: $fontawesome;
                    bottom: -1px;
                }
            }

        }
    }

    &.addc-table-disable-icon-hide{
        .mat-sort-header-disabled{
            .mat-sort-header-button{
                &:before,&:after{
                    content: none;
                }
            }
            .mat-sort-header-arrow {
                display: none;
            }
        }
    }
}

.addc-table-page{
    background: transparent;
    .mat-paginator-container{
        display: flex;
        justify-content: center;
    }
}

.addc-input-capsule-search-container{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius:50px;
    display: inline-block;
    margin-bottom: 16px;
    padding: 4px 8px;

    &:before{
        content:"\f002";
        font-family: $fontawesome;
        color: $base-green-color;
        margin-right: 8px;
        margin-left: 5px;
    }
    input{
        width: calc(100% - 30px);
        border: none;
        background:transparent;
        font-family: $font1;
        font-size: 14px;
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder{
            color: lighten(rgb(0,0,0), 80%);
        }
    }

}

.addc-btn-link{
    border: none;
    background-color: transparent;
    color: $base-green-color;
    transition: all .3s;
    font-family: $font1;
    font-size: 14px;
    &:hover{
        color: rgba($base-green-color, 20%);
    }
}

@mixin addc-btn-capsule-color($property) {
    background: $property !important;
    transition: all .3s ease-in-out;
    &:hover{
        background: lighten($property, 15%) !important;
    }
}

.addc-btn-capsule{
    border:none;
    border-radius: 22px;
    background-color: lighten($base-green-color,30%);
    padding: 6px 16px;
    padding-left: 35px;
    font-family: $font1;
    font-size: 14px;
    color: #000;
    line-height: 32px;
    position: relative;

    i:first-child{
        position: absolute;
        font-size: 22px;
        left: 6px;
        top: -1px;
    }

    &:hover{
        background-color: lighten($base-green-color,33%);
        color: #000;
    }

    &.bg-base{ @include addc-btn-capsule-color($base-green-color) }
    &.bg-danger{ @include addc-btn-capsule-color($addc-danger) }
    &.bg-primary{ @include addc-btn-capsule-color($addc-primary) }
    &.bg-success{ @include addc-btn-capsule-color($addc-success) }
    &.bg-warning{ @include addc-btn-capsule-color($addc-warning) }
    &.bg-error{ @include addc-btn-capsule-color($error) }
}

.addc-capsule{
    border-radius: 18px;
    padding: 8px;
    color:#000;
    font-family: $font1;
    text-align: center;
    font-size: 14px;
}

.addc-stepper{
    background: transparent;
    .mat-horizontal-stepper-header-container{
        margin-bottom: 20px;
    }
    .mat-stepper-horizontal-line{
        flex: 0;
        min-width: 150px;
    }
    .mat-step-header {
        overflow: initial;
        padding: 5px 8px;
        padding-left: 15px;
        height: auto;

        &[ng-reflect-state=done] + .mat-stepper-horizontal-line{
            border-top-color: $base-green-color;
        }

        &:first-child{
            padding-left: 0;
        }

        
        .mat-step-label.mat-step-label{
            position: absolute;
            top: 100%;
            font-family: $font1;
            font-size: 14px;
        }
       
        .mat-step-icon{
            .mat-step-icon-content{
                font-size: 14px;
            }
        }
        &.cdk-keyboard-focused, 
        &.cdk-program-focused, 
        &:hover {
            background-color: transparent;
        }

        .mat-step-icon-selected,
        .mat-step-icon-state-edit,
        .mat-step-icon-state-done{
            background-color: $base-green-color;
            border: 2px solid #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        }
        .mat-horizontal-stepper-header{
            pointer-events: none !important;
        }
        .mat-step-header {
            pointer-events: none !important;
          }
    }
    .mat-horizontal-content-container{
        margin-top: 44px;
        padding: 0;
    }
}

.addc-material-input{
    .mat-form-field-label{
        font-family: $font1;
        font-size: 14px;
    }
    &.mat-focused:not(.mat-form-field-invalid){
        .mat-form-field-ripple{
            background-color: $base-green-color;
        }
        .mat-form-field-label{
            color: $base-green-color;
        }
    } 
    &.mat-form-field.mat-form-field-invalid{
        .mat-form-field-ripple{
            background: $error;
        }
        .mat-form-field-label{
            color: $error;
            .mat-placeholder-required{
                color: $error;
            }
        }
    } 

    &.required-red{
        .mat-placeholder-required{
            color: $error;
        }
    }
}

.addc-radio{
    &.mat-radio-checked{
        .mat-radio-outer-circle{
            border-color: $base-green-color !important;
            background-color:  $base-green-color;
        }
        .mat-radio-inner-circle{
            background-color: #fff;
            width: 6px;
            height: 2px;
            top: 12px;
            transform: rotate(30deg);
            left: 4px;
            border-radius: 0;
            
            &::after{
                content: '';
                width: 12px;
                height: 2px;
                background: #fff;
                position: absolute;
                top: -5px;
                left: 0px;
                transform: rotate(100deg);
            
            }
        }
    }
    &.mat-radio-button.mat-radio-disabled .mat-radio-outer-circle{
        border-color: rgba(0,0,0,0.18);
    }
}

.addc-btn{
    height: 32px;
    border-radius: 22px;
    padding: 6px 15px;
    min-width: 115px;
    border: none;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    &:focus,
    &:active{
        box-shadow:none !important;
    }

    &.btn-secondary{
        background-color: $secondary-color;
        color: #000;
        &:hover,
        &:focus{
            background-color: lighten($secondary-color,5%);
        }
        &:active{
            background-color: darken($secondary-color,5%) !important;
        }
    }
    &.btn-light{
        background-color: $light-color;
        color: #000;
        &:hover,
        &:focus{
            background-color: lighten($light-color,5%);
        }
        &:active{
            background-color: darken($light-color,5%) !important;
        }
    }
    &.btn-primary{
        background-color: $base-green-color;
        color: #fff;
        &:hover,
        &:focus{
            background-color: lighten($base-green-color,10%);
        }
        &:active{
            background-color: darken($base-green-color,10%) !important;
        }
    }
}

.addc-select-border-container{
    .mat-select-value-text{
        font-size: 14px;
    }
    .mat-select-arrow-wrapper{
        .mat-select-arrow{
            border:none;
            &:after{
                font-family: $fontawesome;
                content:'\f078';
                font-size: 9px;
                position: absolute;
                right: 5px;
                top: 3px;
            }
        }
    }
    .mat-form-field-underline{
        background-color: transparent;
    }
    &.mat-focused .mat-form-field-ripple{
        background-color: transparent;
    }

    .mat-form-field-infix{
        border-radius: 4px;
        border: solid 1px rgba(0, 0, 0, 0.3);

        .mat-select-value{
            padding: 0 8px;
        }
    }

    &.mat-form-field-appearance-legacy.mat-form-field-disabled 
    {
        .mat-form-field-infix{
            border-style: dashed;
            background-color: rgba(0, 0, 0, 0.05);
        }
        .mat-form-field-underline{
            background-image: none;
        }
    }
}


.addc-u-select-border-container{
    position: relative;

    &::after{
        font-family: $fontawesome;
        content: '\f078';
        font-size: 12px;
        position: absolute;
        right: 6px;
        top: 9px;
        color: #555;
    }

    select{
        cursor: pointer;
        border-radius: 5px;
        padding: 6px 8px;
        padding-right: 25px;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
    
        option{
            padding: 5px;
        }
    }
}

.addc-checkbox{
    &:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element{
        background-color: $base-green-color;
    }
    &.mat-checkbox-checked.mat-primary .mat-checkbox-background{
        background-color: $base-green-color;
    }
    .mat-checkbox-label{
        font-size: 14px;
        font-family: $font1;
    }
}

.addc-popover-btn{
    & + ngb-popover-window{
       width: 320px;
       max-width: none;
   }
   &.black + ngb-popover-window{
        background: #000;
        .arrow{
            &:after{
                border-top-color: #000;
            }
        }
        .popover-body{
            color: #fff;
            font-family: $font1;
            font-size: 14px;
            line-height: 20px;
            padding: 8px !important;
        }
    }
}

.add-bt-accordion{
    &>button{
        display: block;
        padding: 12px 16px;
        background-color: $base-green-color;
        border-radius: 8px 8px 0 0;
        border: none;
        width: 100%;
        color: #fff;
        text-align: left;
        position: relative;
        font-family: $font1;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.43;

        .caret{
            position: absolute;
            transition: all .3s;
            top: 16px;
            right: 16px;
        }
        
        &[aria-expanded="false"]{
            border-radius: 8px;

            .caret{
                transform: rotate(180deg);
            }
        }
    }
}

.addc-b-tabs{
    .nav-tabs{
        .nav-item{
            font-family: $font1;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.43;
            
            a{
                padding: 10px 24px;
                color: $base-green-color;
                background-color: lighten($base-green-color,36%);
                border: none;
                margin-right: 8px;
                &.active{
                    background-color: #fff;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 24px;
                        right: 24px;
                        height: 2px;
                        background-color: $base-green-color;
                    }
                }
            }
        }
    }
}

.addc-radio-round{
    .mat-radio-outer-circle{
        border-radius: 3px !important;
    }
}
.addc-radio-circle{
    &.mat-radio-checked .mat-radio-outer-circle{border-color: $base-green-color !important;}
    .mat-radio-inner-circle{background-color: $base-green-color !important;}
}

.addc-datepicker-no-icon{
    position: relative;
    input{
        display: inline-block;
        width: auto;
    }

    .mat-datepicker-toggle{
        position: absolute;
        width: 100%;
        left: 0;
        button{
            width: 100%;
            opacity: 0;
        }
        svg{
            display: none;
        }
    }
}




// special case
.tbl-claim{
    .mat-sort-header-button{
        height: 20px;
    }
    .tbl-header-btn{
        width: 18px;
    }
}