<footer id="footer">

    <!-- Icons -->
      <ul class="icons">
        <li><a href="#" class="fa fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="fa fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="fa fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="fa fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        <li><a href="#" class="fa fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="fa fa-pinterest"><span class="label">Pinterest</span></a></li>
      </ul>

    <!-- Menu -->
      <ul class="menu">
        <li>© Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li><li>Demo Images: <a href="http://ineedchemicalx.deviantart.com/">Felicia Simion</a> + <a href="http://md.photomerchant.net/">Michael Domaradzki</a></li>
      </ul>

  </footer>